body {
  margin-top: 10px;
}
.profile-wizard .form-container {
  margin: auto;
  float: none;
}
.profile-wizard .actions .btn-success {
  float: right;
  margin-right: 90px;
}
div#dialogs #login {
  display: none;
}
