<div class="hero-unit">
  <h1>Findevent</h1>
  <p>Work in progress…</p>
  <p>
    <a href="/signup" class="btn btn-primary btn-large">Sign Up</a>
    or
    <a href="/signin" class="btn btn-success btn-large">Login</a>
  </p>
</div>
