<div class="row">
  <div class="span12">
    {{#form form class="form-horizontal"}}
      <fieldset>
        <legend>Enter your credetials to sign in</legend>
        <div class="control-group">
          {{{labelFor "email" "Email:" }}}
          <div class="controls">
            {{{textField "email" "your email to login"}}}
          </div>
        </div>
        <div class="control-group">
          {{{labelFor "password" "Password:" }}}
          <div class="controls">
            {{{passwordField "password" "your password please"}}}
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Sign In</button>
          <button class="btn">Cancel</button>
        </div>
      </fieldset>
    {{/form}}
  </div>
</div>
